@charset "utf-8";
/*
  blafdoc.css
  Release 4.5.3
  Copyright 2002, 2006, Oracle. All rights reserved.
*/

body, table {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25;
  color: black;
  background-color: white;
  font-size: small;
}
* html body {
/* http://www.info.com.ph/~etan/w3pantheon/style/modifiedsbmh.html */
  font-size: x-small; /* for IE5.x/win */
  f\ont-size: small;  /* for other IE versions */
}

a:link {
  color: #630;
  background: inherit;
}

a:visited {
  color: #963;
  background: inherit;
}

a:hover {
  color: #f60;
  background: inherit;
}

a img {
  border-style: none;
}

a:active {
  color: #f60;
  background: inherit;
}

a.glossary-link {
  border-bottom: 1px dotted;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #369;
  background: inherit;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
  border: solid #cc9;
  border-width: 0px 0px 1px 0px;
  width: 100%;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

h5 {
  font-size: 0.95em;
  font-weight: bold;
}

h6 {
  font-size: 0.95em;
  font-weight: normal;
}

pre, code {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

code {
  color: #369;
  background: inherit;
}

code *.code-comment {
  color: black;
  background: inherit;
}

pre a:link, code a:link, a:link code {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  color: #630;
  background: inherit;
}

pre a:visited, code a:visited, a:visited code {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  color: #963;
  background: inherit;
}

pre a:hover, code a:hover, a:hover code {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  color: #f60;
  background: inherit;
}

pre a:active, code a:active, a:active code {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  color: #f60;
  background: inherit;
}

caption {
  text-align: center;
  font-weight: bold;
  width: auto;
}

dt {
  font-weight: bold;
}

td {
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
  color: #369;
  background: inherit;
}

table.table-border {
  border-collapse: collapse;
  border-top: 1px solid #630;
  border-left: 1px solid #630;
}
table.table-border th {
  padding: 0.5ex 0.25em;
  color: black;
  background-color: #cc9;
  border-right: 1px solid #630;
  border-bottom: 1px solid #630;
}
table.table-border td {
  padding: 0.5ex 0.25em;
  border-right: 1px solid #630;
  border-bottom: 1px solid #630;
}

span.gui-object, span.gui-object-action {
  font-weight: bold;
}

span.gui-object-title { }

p.horizontal-rule {
  width: 100%;
  border: solid #cc9;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 4ex;
}

div.zz-skip-header {
  display: none;
}

td.zz-nav-header-cell {
  text-align: left;
  font-size: 0.95em;
  width: 99%;
  color: black;
  background: inherit;
  font-weight: normal;
  vertical-align: top;
  margin-top: 0ex;
  padding-top: 0ex;
}

a.zz-nav-header-link {
  font-size: 0.95em;
}

td.zz-nav-button-cell {
  white-space: nowrap;
  text-align: center;
  width: 1%;
  vertical-align: top;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 0ex;
  padding-top: 0ex;
}

a.zz-nav-button-link {
  font-size: 0.9em;
}

div.zz-nav-footer-menu {
  width: 100%;
  text-align: center;
  margin-top: 2ex;
  margin-bottom: 4ex;
}

p.zz-legal-notice, a.zz-legal-notice-link {
  font-size: 0.85em;
  /* display: none; */  /* Uncomment to hide legal notice */
}

/*************************************/
/*  Begin DARB Formats               */
/*************************************/

.bold, .codeinlinebold, .syntaxinlinebold, .term, .glossterm, .seghead,
.glossaryterm, .keyword, .msg, .msgexplankw, .msgactionkw, .notep1 {
  font-weight: bold;
}

.italic, .codeinlineitalic, .syntaxinlineitalic, .variable {
  font-style: italic;
}

.bolditalic, .codeinlineboldital, .syntaxinlineboldital,
.titleinfigure, .titleinexample, .titleintable, .titleinequation {
  font-weight: bold;
  font-style: italic;
}

.bridgehead, .titleinrefsubsect, .subhead1, .subhead2, .subhead3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #369;
  background: inherit;
  font-weight: bold;
}

.titleinrefsubsect, .subhead1 {
  font-size: 1.1em;
}

.subhead2 {
  font-size: 1.0em;
}

.subhead3 {
  font-size: 0.95em;
  display: inline;
}

.underline {
  text-decoration: underline;
}

.superscript {
  vertical-align: super;
}

.subscript {
  vertical-align: sub;
}

.listofeft {
  border: none;
}

.betadraft {
  color: #f00;
  background: inherit;
}

.betadraftsubtitle {
  text-align: center;
  font-weight: bold;
  color: #f00;
  background: inherit;
}

.comment {
  color: #080;
  background: inherit;
  font-weight: bold;
}

.copyrightlogo {
  text-align: center;
  font-size: 0.85em;
  border-style: none;
}

.tocsubheader {
  list-style-type: none;
}

table.icons td {
  padding-left: 6px;
  padding-right: 6px;
}

.l1ix dd, dd dl.l2ix, dd dl.l3ix {
  margin-top: 0ex;
  margin-bottom: 0ex;
}

div.infoboxnote, div.infoboxnotewarn, div.infoboxnotealso {
  margin-top: 4ex;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 4ex;
  padding: 0.25em;
  border-top: 1pt solid gray;
  border-bottom: 1pt solid gray;
}

p.notep1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*************************************/
/*  End DARB Formats                 */
/*************************************/

@media all {
  * {
    line-height: 1.2;
  }
  body {
    color: black;
    background: white;
  }
  dd {
    margin-bottom: 2ex;
  }
  dl:first-child {
    margin-top: 2ex;
  }
}

@media print {
  body {
    font-family: "Times New Roman", Times, serif;
    font-size: 11pt;
  }

  h1, h2, h3, h4, h5, h6, th, thead td {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: inherit;
  }

  div.zz-skip-header {
    display: none;
  }

  code, a:link, a:visited, a:hover, a:active {
    color: black;
    background: inherit;
    text-decoration: none;
  }
}
